@media (prefers-color-scheme: light) {
body {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    margin:0 auto;
}
}

@media (prefers-color-scheme: dark) {
    body {
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        text-align: center;
        background-color: #1d1d1d;
        color: white;
    }
    }

h1 {
    font-size: 400%;
}

h4 {
    font-size: 75%;
    bottom: 0%;
    justify-content: center;
    position: fixed;
}

noscript {

    color: red;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:block;
    
}

#zones_txt {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    width: 25%;
    padding: 14px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 7px;
  
 
}

#zones_txt:focus {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    border: 3px solid #555;
    width: 30%;
    padding: 16px 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 7px;
}

#zones_btn {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 25%;
    font-size:18px;
    border-radius: 7px;
    background-color: #6b6b6b;
    padding: 14px 20px;
}
#import_btn {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 25%;
    font-size:16px;
    border-radius: 7px;
    background-color: #6b6b6b;
    padding: 14px 20px;
}

a {

color: white;

}

a:visited {

color: white;

}