@media (prefers-color-scheme: light) {
body {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
}
}

@media (prefers-color-scheme: dark) {
    body {
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        text-align: center;
        background-color: #000000;
        color: white;
    }
    }

h1 {
    font-size: 400%;
}

h4 {
    font-size: 75%;
}

#zones_txt {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    width: 25%;
    padding: 14px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#zones_txt:focus {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    border: 3px solid #555;
    width: 30%;
    padding: 16px 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#zones_btn {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 25%;
    font-size:18px;
    border-radius: 7px;
    background-color: #6b6b6b;
    padding: 14px 20px
}